
<h1>Log In</h1>
<%= form_tag do %>
<br>
<br>
	<table>
	<tr>
	
			<td><%=label_tag :username%></td>
				<td><%= text_field_tag :username %>
		</tr>
		<tr>
		<td><%= label_tag :password %></td>
			<td><%= password_field_tag :password %>
		</tr>
	</tr>
			<td><%=submit_tag "Log in" %></td>
			<p>New User? <%=link_to "Sign up now!", new_member_path %></p>
		</tr>
	</table>
<% end %>