<%= form_for(@fitbit) do |f| %>
  <% if @fitbit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fitbit.errors.count, "error") %> prohibited this fitbit from being saved:</h2>

      <ul>
      <% @fitbit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :battery_life_in_hours %><br>
    <%= f.number_field :battery_life_in_hours %>
  </div>
  <div class="field">
    <%= f.label :colour %><br>
    <%= f.text_field :colour %>
  </div>
  <div class="field">
    <%= f.label :display %><br>
    <%= f.text_field :display %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
