<p id="notice"><%= notice %></p>

<h1>Listing Fitbits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Battery life in hours</th>
      <th>Colour</th>
      <th>Display</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fitbits.each do |fitbit| %>
      <tr>
        <td><%= fitbit.name %></td>
        <td><%= image_tag(fitbit.picture, :size => "50x50") %></td>
        <td><%= fitbit.battery_life_in_hours %></td>
        <td><%= fitbit.colour %></td>
        <td><%= fitbit.display %></td>
        <td><%= link_to 'Show', fitbit %></td>
        <td><%= link_to 'Edit', edit_fitbit_path(fitbit) %></td>
        <td><%= link_to 'Destroy', fitbit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fitbit', new_fitbit_path %>
